*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fira Code', monospace;

    --secondaryColor: #aa3030;
    --colorAccent: #fff;
    --colorBackground1: #000; 
    --colorBackground2: #130e0e;
    --colorTextSecondary: #b6b6b6;
}

table{
    width: 100%;
}


.logo{
    width: 50px;
    margin: 10px;
    margin-left: 30px;
}

header{
    height: 30vh;
    background-image: url('./img/background.jpg');
    background-size: cover;
    display: flex;
    align-items: center;
    text-align: center;
    padding: 30px;
}

h1{
    color: var(--secondaryColor);
    font-size: 50px;
    padding: 30px;
    text-align: center;
}

h2{
    color: var(--colorAccent);
}

p{
    color: var(--colorTextSecondary);
    font-size: 20px;
    padding: 30px 70px;
    text-align: center;
}


.tdTittle{
    width: 33%;
}

.principalTitle{
    font-size: 80px;
    color: var(--colorAccent);
}

nav{
    background-color:var(--colorBackground1);
    border: solid var(--colorAccent) 1px;
}

a{
    color: var(--colorTextSecondary);
    text-decoration: none;
    margin: 20px;
}

li{
    display: inline-block;
}

ul{
    float: right;
}

.whyLinuxImage{
    height: 500px;
    margin: 50px;
}

main{
    background-color:  var(--colorBackground1);
}

.tdText{
    text-align: center;
}

article{
    background-color: var(--colorBackground2);
    padding: 30px;
}


.customP{
    text-align: justify;
}

.customColumn{
    width: 33%;
}

h2{
    text-align: center;
}

section{
    background-color: var(--colorBackground1);
    padding: 30px;
    text-align: center;
}

.videoLinux{
    width: 1000px;
    height: calc(1000px * 9 / 16);
}


aside{
    text-align: center;
    background-color: var(--colorBackground2);
    padding-bottom: 20px;
}
.videoLinuxRow{
    width: 100%;
}

.distroImg{
    height: 200px;
}

.distroLink{
    display: block;
    text-decoration: underline;
}

aside h1{
    padding-bottom: 0px;
}

.footerP{
    float: left;
}

footer{
    background-color: var(--colorBackground1);
    border: solid var(--colorAccent) 1px;
}

.footerTable img{
    width: 20px;
}