*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fira Code', monospace;

    --secondary-color: #aa3030;
    --color-accent: #fff; /* blanco */
    --color-background: #130e0e; /* negro */
    --color-text: #fff; /* blanco */
    --color-text-secondary: #b6b6b6; /* gris claro */
}

table{
    width: 100%;
}


.logo{
    width: 50px;
    margin: 10px;
    margin-left: 30px;
}

header{
    height: 30vh;
    background-image: url('./img/background.jpg');
    background-size: cover;
    display: flex;
    align-items: center;
    text-align: center;
    padding: 30px;
}

h1{
    color: var(--secondary-color);
    font-size: 50px;
    padding: 30px;
    text-align: center;
}

h2{
    color: var(--color-accent);
}

p{
    color: var(--color-text-secondary);
    font-size: 20px;
    padding: 30px 70px;
    text-align: center;
}


.tdTittle{
    width: 33%;
}

.principalTitle{
    font-size: 80px;
    color: var(--color-text);
}

nav{
    background-color:black;
}

a{
    color: var(--color-text-secondary);
    text-decoration: none;
    margin: 20px;
}

li{
    display: inline-block;
}

ul{
    float: right;
}

.whyLinuxImage{
    height: 500px;
    margin: 50px;
}

.whyLinuxTable{
    background-color:  black;
}

.tdText{
    text-align: center;
}

article{
    background-color: #130e0e;
    padding: 30px;
}


.customP{
    text-align: justify;
}

.conceptsColumn{
    width: 33%;
}

h2{
    text-align: center;
}

section{
    background-color: black;
    padding: 30px;
    text-align: center;
}

.videoLinux{
    width: 1000px;
    height: calc(1000px * 9 / 16);
}

.videoLinuxRow{
    width: 100%;
}